/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 40;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 3px 15px 3px 15px;
  text-align: left;
  background-color: #fff;
  position: relative;
  margin: 5px 0px 0px 0px;
}

#Counter {
  color: #04AA6D;
}

.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}