.chat {
    height: 100%;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
}

#messageBar {
    width: 100%;
    height: 40px;
    padding: 1vh;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.messageBarHolder {
    padding: 1vh;
    width: 100%;
    display: flex;
}

#messageBarSendBtn {
    color: rgba(243, 207, 124, 1);
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#messageBarSendBtn:hover {
    color: #ffffff;
    background-color: rgba(243, 207, 124, 1);
}

.chatBoard {
    height: 100%;
    width: 100%;
    padding: 1vh;
    overflow-y: scroll;
}

.roomTitle {
    width: 80%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;    
    justify-content: space-between;
}

.roomTitle>h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 17px;
    justify-self: center;
}