.list {
  width: 30%;
  height: 100%;
  background-color: #f6f7fb;
  /* overflow-y: scroll; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.scroll {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.buttonsHolder {
  width: 100%;
  height: auto;
  display: flex;
}

.buttonsHolder > button {
  margin: auto;
}

.searchBar {
  flex-grow: 1;
  height: 30px;
  border-radius: 8px;
  border: none;
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.searchHolder {
    display: flex;
  width: 100%;
  padding: 10px;
}

.button {
  color: rgba(243, 207, 124, 1);
  background-color: #ffffff;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  height: auto;
  width: 100%;
}

.button:hover {
  background-color:rgba(243, 207, 124, 1);
  color: #ffffff;
  transition: 0.3s;
}