.shadows{
    -webkit-box-shadow: 5px 3px 31px -15px #000000; 
box-shadow: 5px 3px 31px -15px #000000;
}
.dropdown{
    -webkit-box-shadow: 5px 5px 38px -1px rgba(0,0,0,0.56); 
box-shadow: 5px 5px 38px -1px rgba(0,0,0,0.56);
}