.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
  height: 300px;
  border-bottom: 30px solid #d1a102;
}

.left_wall {
  float: left;
  width: 30px;
  height: 100px;
  background: #d1a102;
  animation: left-wall 3s infinite;

}

.right_wall {
  float: right;
  width: 30px;
  height: 100px;
  background: #d1a102;
  animation: right-wall 3s infinite;
}

.ball {
  float: left;
  width: 50px;
  height: 50px;
  background: #d1a102;
  border-radius: 50%;
  margin-top: 30px;
  animation: bounce_ball 3s linear infinite;
}

@keyframes left-wall {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 200px
  }

  100% {
    margin-top: 0px
  }
}

@keyframes right-wall {
  0% {
    margin-top: 200px;
  }

  50% {
    margin-top: 0px
  }

  100% {
    margin-top: 200px
  }
}

@keyframes bounce_ball {
  0% {
    margin-top: 30px;
  }

  25% {
    margin-left: 250px;
    margin-top: 252px
  }

  50% {
    margin-left: 490px;
    margin-top: 30px;
  }

  75% {
    margin-left: 250px;
    margin-top: 252px
  }

  100% {
    margin-left: 0px;
    margin-top: 30px
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    border-top-color: #bbb;
  }

  to {
    transform: rotate(180deg);
    border-bottom-color: #bbb;
  }
}

#holder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
}

.hr {
  height: 0px;
  background: transparent;
  border: 1px dashed #e4e4e4;
}

.prompt {
  margin: auto;
  background: rgba(255, 255, 255, 1);
  width: 440px;
  border: 0px solid #f4f4f4;
  padding: 25px;
  border-radius: 10px;
  font-size: 22pt;
  color: #666;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.difficulty,
.character {
  font-size: 18pt;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.character span {
  margin: 0 10px;
}

.restart button:active {
  background: #46ed4b;
}

.start button {
  background: #9146ed;
  color: white;
  padding: 7px 20px;
  border: none;
  font-size: 14pt;
  font-family: 'Comfortaa', sans-serif;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.start button:hover {

  padding: 7px 20px;
  border-radius: 5px;
  background: #FD0A35;
}

.start button:active {
  background: #46ed4b;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15);

}

.animate {
  -webkit-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  animation-duration: 800ms;
}


.difficulty input[type=radio] {
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.character input[type=radio] {
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.difficulty input[type="radio"]+label {
  background: #bbb;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;


}

.difficulty input[type="radio"]:checked+label {
  background: #46ed4b;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
}

.canvas {
  margin: auto;
  background: rgb(0, 0, 0) !important;
  padding: 40px !important;
  border: .4rem solid white;
  position: sticky;
  margin-bottom: 50px;
  width: 40vw !important;
  height: 40vw !important;
}

@media only screen and (max-width: 1179px) {
  .canvas {
    width: 40vw !important;
    height: 40vw !important;
  }

  .prompt {
    width: 30vw !important;
    height: 35vw !important;
  }
}