.chat {
    flex-grow: 1;
    height: 93vh;
    min-width: 40vh;
    margin: 1vh;
    padding: 0vh 0vh 2.5% 0vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #efefef;

}

#messageBar {
    width: 100%;
    height: 40px;
    padding: 1vh;
    border-radius: 5px;
    border-color: #04AA6D;
    border-width: 1px;
}

.messageBarHolder {
    padding: 1vh;
    display: flex;
}

#messageBarSendBtn {
    color: #fff;
    background-color: #04AA6D;
    border-radius: 5px;
    margin-left: 5px;
}

.chatBoard {
    height: 94%;
    padding: 1vh;
}

#roomTitle {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 10px 10px 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}