@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* overflow: hidden; */
    /* background: url("https://cdn.dribbble.com/users/1094306/screenshots/3080714/media/a55703b4187dec3ce3fe24f4925c8063.gif") no-repeat center center fixed;
    background-size: cover; */
    /* background-color: #f18701; */
    background-color: #463573;


    
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}